.header {
  width: 95%;
  left: 1.8%;
  right: 0;
  padding: 10px 10px;
  background: #ECECEC;
  position: fixed;
  display: inline;
  border-radius: 1px;
}

.background-green-opac {
  background-color: rgba(55, 112, 0, 0.5);
}
